@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
body{
    font-family: 'Karla', sans-serif;
    background-color:hsl(204, 43%, 93%);
  }
  * {
    box-sizing: border-box;
  }
  p, h1, h2{
    overflow-wrap: break-word;
  }
  body, html{
    height:100%;
  }
  body{
    line-height: 1.6rem;
    display:grid;
    place-content: center;
    min-height: 100vh;
    margin:1rem;
  }
  .community{
    background-color: white;
    border-radius: 0.4rem 0.4rem 0 0;
    padding:1.5rem 1rem;
  }
  .comm{
    color:hsl(179, 62%, 43%);
    margin-bottom:1rem;
  }
  .day{
    color: hsl(71, 73%, 54%);
    font-weight:700;
    margin-bottom:1rem;
  }
  .access{
    color: hsl(218, 22%, 67%);
  }
  .subscription{
    background-color: hsl(179, 62%, 43%);
    display:grid;
    padding:1.5rem 1rem;
  }
  .why-us{
    background-color: hsl(179, 50%, 52%);
    padding:1.5rem 1rem;
  }
  .monthly{
    color:hsl(204, 43%, 93%);
    margin-bottom:1rem;
  }
  .button{
    display:inline-flex;
    justify-content: center;
    cursor: pointer;
    font-size:0.9rem;
    font-weight:700;
    border-radius:0.3rem;
    border:none;
    gap:0.75rem;
    padding:0.5rem 1.5rem;
    color:white;
    background-color: hsl(71, 73%, 54%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  }
  .dollar{
    font-size:1.7em;
    color:white;
    font-weight:700;
    margin-right:0.4rem;
  }
  .per{
    position: relative;
    bottom:0.2rem;
    color: hsl(179, 50%, 52%);
  }
  .single{
    color: hsl(204, 43%, 93%);
    margin-bottom: 1.5rem;
  }
  .text{
    color: hsl(204, 43%, 93%);
    font-weight:500;
  }
  .community{
    grid-area: one;
  }
  .subscription{
    grid-area: two;
  }
  .why-us{
    grid-area: three;
  }
  @media (min-width:480px){
    article{
      display:grid;
      
      grid-template-areas: 
      'one three'
      'two three';
    }
  }
  @media (min-width:700px){
    article{
        display:grid;
        max-width:600px;
        grid-template-areas: 
        'one one'
        'two three';
        margin:0 auto;
        grid-auto-columns: 1fr;
    }
    .button{
        padding:0.3rem 1.5rem;
        position: relative;
        bottom:0.7rem;
    }
    .subscription, .why-us{
        line-height:0.5rem;
    }
    .text{
        padding-top:0.3rem;
    }
    .single{
        margin-bottom:initial;
        position: relative;
        bottom:2.7rem;
    }
    button {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .dollar, .per{
        position: relative;
        bottom:0.7rem;
    }
  }